
<main>
   
<section id="pc">
<div class="container ">
    <div class="row">
<div class="col-3">
    <nav>
        <h4>Categories</h4>
        <ul>
            <li><a routerLink="all">All</a></li> 
            <li><a routerLink="laptop">laptop</a></li> 
            <li><a routerLink="cameras">cameras</a></li> 
            <li><a routerLink="smartwatches">Smartwaches</a></li> 
            <li><a routerLink="headphones">Headphones</a></li> 
            <li><a routerLink="tablet">tablet</a></li> 
            <li><a routerLink="ipods">Ipods</a></li> 
            <li><a routerLink="accesories">Acceesories</a></li> 
        </ul>

        <h4>Filtter by</h4>
        <strong>price</strong>
        <input type="range" name="price" id="price1" min="0" max="5" step="0.5">
        <small>range : $0 - $500</small>
      <ul class="colours">
        <li ><a id="a" href="#"></a></li>
        <li><a id="b" href="#"></a></li>
        <li ><a id="c"href="#"></a></li>
        <li><a id="d" href="#"></a></li>
        <li ><a id="e" href="#"></a></li>
        <li ><a id="f"href="#"></a></li>
      </ul>   
      <strong>brands</strong>
        <ul>
            <li><a href="#all">All</a></li> 
            <li><a href="#laptop">laptop</a></li> 
            <li><a href="#cameras">cameras</a></li> 
            <li><a href="#smartwatches">Smartwaches</a></li> 
            <li><a href="#headphones">Headphones</a></li> 
            <li><a href="#tablet">tablet</a></li> 
            <li><a href="#ipods">Ipods</a></li> 
            <li><a href="#accesories">Acceesories</a></li> 
          
        </ul>
        
    </nav>
   

</div>
<div class="col-9 ">
    <app-products></app-products>
  </div>
</div>

</div>

</section>

</main>


    


